.fl_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fl_center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.fl_between {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.fl_evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.fl_around {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.fl_start {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.fl_end {
  display: flex;
  justify-content: end;
  align-items: start;
  gap: 16px;
  flex-wrap: wrap;
}

.card_with_border {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.glass_card {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  height: fit-content;

  hr {
    border: none;
    width: 60px;
    height: 4px;
    background: var(--pink_1);
    border-radius: 2px;
  }
}
